.feed{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 16px;
    row-gap: 30px;
    margin-top: 15px;
}

.feed-card{
    margin-top: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
    padding: 1% 2%;
    border-radius: 2%;
    width: 100%;
}
.feed-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}