.card img{
    width: 100%;
    border-radius: 5px;
}
.card{
    display: block;
    padding: 10px 5px;
}


.sn-pro-cardh2 {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}
.sn-pro-cardp {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}