.modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 13;
}
.modal{
    background: #fdfdfc;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    width: 640px;
    border: 1px solid #f1f1f1;
    position: fixed;
    top: 40%;
    left: 33%;
}

.mini-section{
    margin-bottom: 0.5rem;
}

.btn{
    border: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    font-size: 1rem;
    transition: 0.2s ease;
}


.btn-submit:hover {
  background: #09566a;
}
.btn-cancel:hover {
  background: #870e0e;
}

.btn-submit{
    background-color: #1a87a2;
}
.btn-cancel{
    background-color: #d92424;
}
.close{
    cursor: pointer;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.modal-content{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.modal-footer{
    display: flex;
    justify-content: space-evenly;
}

.inpt-field {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.inpt-field:focus {
  outline: none;
  border-color: #d6d6d6;
  background: white;
}

.sec-divider {
  height: 1px;
  background: #ececec;
  margin: 10px 0;
}

.sec-label {
  font-weight: 100;
  display: block;
  margin-bottom: 10px;
}
