.modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 13;
}
.modal{
    background: #fdfdfc;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    width: fit-content;
    border: 1px solid #f1f1f1;
    position: fixed;
    top: 40%;
    left: 33%;
}

.mini-section{
    margin-bottom: 0.5rem;
}

.btn{
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease;
    height: 3.3rem;
    width: 8rem;
}
.btn:active {
    transform: translateY(1rem);
    transition: transform 0s ease;
    height: 2.7rem;
}


.btn-submit:hover {
  background: var(--clr-info-a0);
}
.btn-cancel:hover {
  background: var(--clr-danger-a0);
}

.btn-submit{
    background-color: var(--clr-info-a10);
    border: 2px solid var(--clr-info-a1);
    border-bottom: 7px solid var(--clr-info-a1);
}
.btn-submit:active{
    border: 2px solid var(--clr-info-a1);
}
.btn-cancel{
    background-color: var(--clr-danger-a10);
    border: 2px solid var(--clr-danger-a1);
    border-bottom: 7px solid var(--clr-danger-a1);
}
.btn-cancel:active{
    border: 2px solid var(--clr-danger-a1);
}
.close{
    cursor: pointer;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.modal-content{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.modal-footer{
    display: flex;
    justify-content: space-evenly;
}

.inpt-field {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.inpt-field:focus {
  outline: none;
  border-color: #d6d6d6;
  background: white;
}

.sec-divider {
  height: 1px;
  background: #ececec;
  margin: 10px 0;
}

.sec-label {
  font-weight: 100;
  display: block;
  margin-bottom: 10px;
}
