.sidebar{
    background:#fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top:0;
    padding-left: 1.1%;
    padding-top: 90px;
}
.shortcut-links img{
    width: 20px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.side-link img{
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}