.sidebar{
    background:#fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top:0;
    padding-left: 1%;
    padding-top: 90px;
}
.shortcut-links img{
    width: 25px;
}
.side-link{
    display: flex;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 2%;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 10px;
}
.side-link:hover{
    background-color: #f5f5f5;
}
.side-link img{
    margin-right: 25px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
    display: none;
}
.shortcut-links{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}


.sn-pro-sidep {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 380;
  font-style: normal;
}